/* Elements */
img{
    max-height: 450px;
}
h1{
    font-size: 3.5rem;
}

/* Classes */
.btn{
    margin-bottom:4px;
    margin-top:4px;
}
.spicyRice{
    font-family: 'Spicy Rice', cursive;
}
.sticky{
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    z-index: 250;
}
.usersCol{
    padding: 0px 30px;
}
.width80{
    width: 80%;
}

/* IDs */
#startBtn{
    margin-top:0px;
    margin-bottom: 8px;
}
#grad {
    background-image: radial-gradient(red, yellow, green);
    height: 100vh;
    background-attachment: fixed;
  }
#userTitle{
    margin-bottom: 5px;
}
#messagesHere{
    text-align: center;
}
#complimentsDump{
    margin: auto;
}
#addSpace{
    display: none;
}
#siteHead{
    z-index: 100;
}
#optionsBtn{
    position: fixed;
    right: 5px;
    top: 5px;
    z-index: 1024;
}
#collapseWrapper{
    margin-top: -10px;
    margin-bottom: 10px;
    padding: 10px 32px 0px;
}
#complimentsImg{
    max-width: 80vw;
}

@media screen and (min-width: 768px) {
    #addSpace{
        margin-top:25vh;
        display: block;
    }
    #optionsBtn{
        display: none;
    }
}